# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Env and local config
.env
.env.*
!.env.example

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# Coverage / builds
coverage/
dist/
build/

# OS/editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/

